@{
    ViewBag.Title = "Confirmar Email";
}

<h2>@ViewBag.Title.</h2>
<div>
    <p>
        Gracias por confirmar su email. Por favor haga @Html.ActionLink("clic aquí para empezar", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
    </p>
</div>
