@{
    ViewBag.Title = "Se ha enviado un email";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
</hgroup>
<div>
    <p>
        Se ha enviado un email a su bandeja de entrada para que pueda establecer su contraseña.
    </p>
</div>
