@{
    ViewBag.Title = "Contraseña establecida";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
</hgroup>
<div>
    <p>
        Su contraseña fue establecida correctamente.
    </p>
    <p>
        Para comenzar, haga clic en Ingresar que se encuentra en la parte superior derecha de la página.
    </p>
</div>
	
