@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Cuenta bloqueada";
}

<hgroup>
    <h1 class="text-danger">Acceso denegado</h1>
    <h2 class="text-danger">Esta cuenta ha sido bloqueada, por favor intentelo más tarde o contacte al administrador del sistema.</h2>
</hgroup>