@{
    ViewBag.Title = "Se a enviado un correo a su email.";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
</hgroup>
<div>
    <p>
        Por favor, revise su email para hacer una nueva contraseña.
    </p>
</div>
	
