@{
    ViewBag.Title = "Confirmación de reinicio de contraseña";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
</hgroup>
<div>
    <p>
        Su password a sido modificado. Por favor @Html.ActionLink("haga clic aquí para ingresar", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
    </p>
</div>
