@{
    ViewBag.Title = "Confirmación de correo electrónico";
}

<h2>@ViewBag.Title.</h2>
<div>
    <p>
        Gracias por comprobar su correo electrónico @Html.ActionLink("Cofirmar registro", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
    </p>
</div>
