@{
    ViewBag.Title = "Nueva contraseña establecida";
}

<hgroup class="title">
    <h1>@ViewBag.Title</h1>
</hgroup>
<div>
    <p>
        Su password a cambiado, por favor @Html.ActionLink("haga click en ingresar", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
    </p>
</div>
